.row>*{
    padding-left: 0;
    padding-right: 0;
}

.curriculum-div {
    .container-fluid {
        background-image: url(../../assets/images/curriculum.png);
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
    
        .curriculum {
                display: flex;
                align-items: center;
                justify-content: center;
        }
    }
}

.cycles-div {
    .card {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        border: 0px;

        .card-img {
            position: relative;

            .layer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 72%;
                // background-color: rgba(0, 0, 0, 0.75);
              }
            .layer1, .layer2{
                background-color: #df776d;
            }
            .layer3 {
                background-color: #66abda;
            }
            .layer4 {
                background-color: #ac80c0;
            }

            img {
                width: 100%;
            }
          }
      }
      .card-info {
        position: absolute;
        bottom: 0;
        left: 12px;
        color: white;
        padding: 20px;
      }
}

