
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

a{
    text-decoration: none;
}
// mixin max
@mixin res_max($screen){
    @media screen and (max-width: $screen){
        @content;
    }
}
$screen-sm-max : 600px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1200px;
$screen-xxl-max: 2000px;
// @include res_max($screen--min) {
// }

// mixin min
@mixin res_min($screen){
    @media screen and (min-width: $screen){
        @content;
    }
}
$screen-xxl-large-min: 2000px;
$screen-xxl-xlarge-min: 3000px;
// @include res_min($screen--min) {
// }

body{
    font-family: 'Montserrat', sans-serif;
}
.Home{
    .slider{
        .slider_video_1{
            background: #2980bb;
        }
        .slider_video_2{
            background: #e67d22;
        }
        .slider_video_3{
            background: #f1c310;
        }
        .slider_video_4{
            background: #3497da;
        }
        .sliderVideo{
            @include res_min($screen-xxl-large-min){
                height:80%;
            }
            video{
                height: 100%;
            }
            .left_sliderContenu{
                display: flex;
                align-items: baseline;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 3%;
                width: 50%;
                text-align: left;
                left: 3%;
                @include res_min($screen-xxl-large-min){
                    bottom: 25%;
                }
                .border_leftslider{
                    border-bottom: 15px solid ;
                    width: 70px;
                    display: block;
                    
                    border-left: 15px solid ;
                    height: 70px;
                    display: block;

                    @include res_max($screen-sm-max){
                        border-bottom: 6px solid ;
                        border-left: 6px solid ;
                        width: 40px;
                        height: 40px;
                    }
                }
                p{
                    color: #fff;
                    margin-left: 10px;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 600;
                    @include res_min($screen-xxl-large-min){
                        font-size: 30px;
                    }
                    @include res_max($screen-sm-max){
                        display: none;
                    }
                }
            }
            .right_sliderContenu{
                display: block;
                padding: 8px 12px;
                position: absolute;
                bottom: 6%;
                width: 19%;
                text-align: left;
                right: 3%;
                text-align: end;
                @include res_min($screen-xxl-large-min){
                    bottom: 25%;
                }
                @include res_max($screen-sm-max){
                    width: 40%;
                }
                .rightSlider_title{
                    font-weight: 700;
                    font-size: 30px;
                    @include res_min($screen-xxl-large-min){
                        font-size: 45px;
                    }
                    @include res_max($screen-sm-max){
                        font-size: 12px;
                    }
                    
                }
                p{
                    color: #fff;
                    font-weight: 500;
                    font-size: 26px;
                    @include res_min($screen-xxl-large-min){
                        font-size: 35px;
                    }
                    @include res_max($screen-sm-max){
                        font-size: 11px;
                    }
                    
                }
                
            }
            .slider_title1{
                color: #f29b13;
            }
            .slider_title2{
                color: #3498d9;
            }
            .slider_title3{
                color: #1bbc9d;
            }
            .slider_title4{
                color: #f1c310;
            }
        }
    }

    .curriculum-div {
        .container-fluid {
            background-image: url(../../assets/images/curriculum.png);
            color: white;
            background-repeat: no-repeat;
            background-size: cover;
        
            .curriculum {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h3{
                        font-weight: 700;
                    }
            }
        }
    }
    
    .cycles-div {
        .card {
            position: relative;
            padding-left: 0;
            padding-right: 0;
            border: 0px;

            p {
                display: none;
            }

            &:hover {
                p {
                    display: block;
                }
            }

            .layer {
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 45%;
                &:hover{
                    box-shadow: rgba(0, 0, 0, 5.35) 0 -83px 200px 50px inset;
                    &::after{
                        content: '';
                        background: transparent;
                    }
                }
                // background-color: rgba(0, 0, 0, 0.75);
            }
            .layer1{
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #0a8645;
                    filter: brightness(0.7);
                  }
                
            }
            .layer2{
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgb(222 47 27);
                    filter: brightness(0.7);
                  }
                  
            }
            .layer3 {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgb(10 147 239);
                    filter: brightness(0.7);
                  }
                  
            }
            .layer4 {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(142, 68, 173, 0.72);
                    // filter: brightness(0.7); /* Adjust the filter effect as needed */
                  }
            }
            .card-img {
                position: relative;
                img {
                    width: 100%;
                }
              }
          }
          .card-info {
            position: absolute;
            bottom: 0;
            left: 12px;
            padding: 20px;
            z-index: 2;
            h3{
                color: #fff;
                font-size: 50px;
                font-weight: 700;
            }
            p{
                color: #fff;
                font-weight: 600;
            }
          }
    }
    .logo_CBAC{
        margin: 30px 0 60px 0;
        .image_cbac{
            display: flex;
            justify-content: center;
            align-items: center;
            @include res_max($screen-sm-max);@include res_max($screen-md-max){
                margin-bottom: 10%;
            }
            img{
                width: 100%;
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max){
                    width: 250px;
                }
            }
            .centre_image{
                margin: 13% 0;
            }
        }
    }
    .AboutUS{
        background-image: url(../../assets/images/AboutUS_bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max){
            height: 100%;
        }
        .Par_about{
            padding: 30px 0;
            .title_about{
                font-size: 45px;
                font-family: 'Oswald', sans-serif;
                color: rgb(7, 61, 106);
                font-weight: bold;
                text-transform: uppercase;
                .span_Us{
                    border-bottom: 4px solid #e74c3c;
                }
            }
            p{
                width: 60%;
                color: #073d6a;
                padding: 30px 0 ;
                font-weight: 500;
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    width: 100%;
                }
            }
        }
        .Video_US{
            width: 100%;
            height: 350px;
            @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                height: auto;
            }
        }
    }

    .Ambassador_video{
        .test_bg{
            height: calc(50vw - 300px);
            display: flex;
            justify-content: center;
            align-items: center;
            @include res_min($screen-xxl-large-min) {
                height: 100%;
            }
            @include res_max($screen-xl-max){
                position: relative;
                top: 40px;
                height: calc(65vw - 300px);
                align-items: normal;
            }
            @include res_max($screen-lg-max){
                height: calc(120vw - 300px);
            }
            @include res_max($screen-md-max) {
                height: calc(140vw - 300px);
                align-items: normal;
            }
            @include res_max($screen-sm-max){
                height: 100%;
                position: relative;
                top: 0;
                padding: 10px;
            }
        }
        .left_bg_ambassador{
            @include res_min($screen-xxl-large-min) {
                left: -20%;
                position: relative;
                height: 450px;
                align-items: center;
                display: grid;
            }
            @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                background-color: #fefbef;
                margin-bottom: 5%;
                padding: 20px 10px;
                text-align: center;
            }
            
            &::before{
                content: "";
                width: calc(76vw - 259px);
                height: 120%;
                background-color: #fefbef;
                display: block;
                position: absolute;
                left: calc(-50vw + 673px);
                z-index: -1;
                margin-top: -33px;
                @include res_min($screen-xxl-large-min) {
                    margin-top: 13%;
                }
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    display: none;
                }
            }
            h2{
                text-align: center;
                color: #073d6a;
                font-size: 40px;
                font-family: "Oswald";
                font-weight: bold;
                line-height: 1.093;
                  
            }
            img{
                margin: 0 30%;
                width: 200px;
                height: 200px;
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    margin: 0 20%;
                    width: 200px;
                }
            }
        }


        .right_video_ambassador{
            display: flex;
            align-items: center;
            .Video_Amb{
                width: 100%;
            }
        }
    }

   

    

    .headmaster {
        .title_master{
            text-align: center;
            .welcome_title{
                font-weight: bold;
                font-size: 30px;
                word-spacing: 7px;
                letter-spacing: 1px;
                color: #073d6a;
                font-family: "Oswald";
                line-height: 65px;
                
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    font-size: 14px;
                }
                span{
                    border-bottom: 3px solid #e74c3c;
                }
            }
            .title-section{
                word-spacing: 12px;
                font-family: "Oswald", sans-serif;
                font-size: 64px;
                color: rgb(7, 61, 106);
                font-weight: bolder;
                line-height: 1.2;
                text-align: center;
                letter-spacing: 1px;
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    width: 100%;
                    font-size: 25px;
                }
            }
        }
        

        .image {
            z-index: 1;
            @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                text-align: center;
            }
            img {
                height: 85%;
                float: right;
                top: 8%;
                position: relative;
                left: 10%;
                box-shadow: -10px 10px #d5d5d5;
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    float: none;
                    left: 0;
                }
            }
        }

        .paragraph {
            background-color: #073d6a;
            color: white;
            display: block;
            padding: 50px 100px;
            @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                display: block;
                padding: 25px 15px;
            }
            h4{
                    font-size: 26px;
                    font-family: "Oswald";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 1.5;
            }
            p {
                width: 93%;
                .read_more{
                    color:#f1c40f;
                    font-weight: 600;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover{
                        color: #cc1423;
                    }
                }
            }
            .play{
                color: white;
                img{
                    margin-right: 5px;
                }
            }
        }
    }

    .choose-our-shcool {
        background-color: #f0f2f3;
        display: grid;
        @include res_max($screen-sm-max);@include res_max($screen-md-max){
            position: relative;
            height: 1000px;
        } 
        .title_our_school{
            text-align: center;
            .title-section{
                margin: 25px 0 40px 0;
            }
        }
        .card_our_school{
            animation: moveCircle1 10s infinite linear;
            cursor: pointer;
            &:hover{
                transform: scale(1.10,1.10);
            }
                @keyframes moveCircle1 {
                    0%, 50% {
                      transform: translate3d(0, 0, 0);
                    }
                    50% {
                      transform: translate3d(30px, 20px, 0); /* Adjust the movement distance */
                    }
                  }
        }
        .first, .second, .third, .fourth, .fifth, .sixth {
            width: 80%;
            display: flex;
            align-items: center;
            padding: 20px 8px;
            @include res_min($screen-xxl-large-min) {
                padding: 50px 20px;
            }
            @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                padding: 10px 4px;
                width: 100%;
                width: 90%;
            }
            p{
                margin: 0;
                left: 17%;
                position: absolute;
                font-weight: 700;
                color: white;
                font-size: 20px;
                @include res_min($screen-xxl-large-min) {
                    font-size: 30px;
                }
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    font-size: 15px;
                }
            }
            img{
                width: 40px;
                height: 40px;
                object-fit: cover;
                @include res_min($screen-xxl-large-min) {
                    width: 60px;
                    height: 60px;
                }
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .left-side {
            position: relative;
            @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                position: absolute;
                    top: 10%;
            }
            .first {
                background-color: #8e44ad;
                position: absolute;
                top: 5%;
                left: 20%;
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    position: relative;
                    margin: 0 0 15px;
                    left: 0;
                }
            }
            .second {
                background-color: #3498db;
                position: absolute;
                top: 40%;
                left: 15%;
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    position: relative;
                    margin: 0 0 15px;
                    left: 0;
                }
            }
            .third {
                background-color: #1abc9c;
                position: absolute;
                top: 75%;
                left: 25%;
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    position: relative;
                    margin: 0 0 15px;
                    left: 0;
                }
            }
        }

        .right-side {
            position: relative;
            @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                height: 100%;
            }
            .fourth {
                position: absolute;
                background-color: #e74c3c;
                top: 10%;
                right: 45%;
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    position: relative;
                    margin: 0 0 15px;
                    right: 0;
                }
            }
            .fifth {
                position: absolute;
                top: 35%;
                right: 35%;
                background-color: #f1c40f;
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    position: relative;
                    margin: 0 0 15px;
                    right: 0;
                }
            }
            .sixth {
                background-color: #8e44ad;
                position: absolute;
                top: 65%;
                right: 20%;
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    position: relative;
                    margin: 0 0 15px;
                    right: 0;
                }
            }
        }
        .choose-us-img {
            display: flex;
            justify-content: center;
            @include res_max($screen-sm-max){
                top: 0;
                position: relative;
            }
            .chooseUsDeskop{
                @include res_max($screen-sm-max);@include res_max($screen-md-max) {
                    display: none;
                }
            }
            .chooseUsMobile{
                display: none;
                @include res_max($screen-sm-max);@include res_max($screen-md-max) {
                    display: block;
                    width: 200px;
                    height: 350px;

                }
            }
            img {
                height: 100%;
                width: 100%;
                @include res_max($screen-sm-max);@include res_max($screen-md-max);@include res_max($screen-lg-max) {
                    height: 60%;
                    object-fit: cover;
                    width: 87%;
                }
            }
        }
    }

    .learner-profile {
        background-color: #3498db;
        @include res_max($screen-lg-max){
            position: relative;
            height: 1800px;
        }
        @include res_max($screen-sm-max){
            position: relative;
            height: 1100px;
        }
        .triangle {
            position: relative;
            margin: auto;
            width: 525px;
            height: 205px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
            background-color: #f1c40f;
            @include res_max($screen-sm-max){
                width: 300px;
                height: 130px;
            }
        
            h1 {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            text-align: center;
            color: white;
            font-weight: 700;
            }
        }
        .row  {
            height: 390px;

            .shape {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 220px;
                height: 200px;
                color: #fff;
                background-color: #ffffff;
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                transition: transform 0.3s, box-shadow 0.3s;
                overflow: hidden;
                animation: moveCircle1 10s infinite linear;
                cursor: pointer;
                @keyframes moveCircle1 {
                    0%, 50% {
                      transform: translate3d(0, 0, 0);
                    }
                    50% {
                      transform: translate3d(30px, 20px, 0); /* Adjust the movement distance */
                    }
                  }
                @include res_max($screen-sm-max){
                    width: 160px;
                    height: 140px;
                }
                &::before {
                    content: '';
                    position: absolute;
                    height: calc(100% - 15px); 
                    width: calc(100% - 15px);  
                    z-index: -1;
                    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                    transition: background-color 0.3s;
                    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
                }
                h6 {
                    font-size: 20px;
                    text-align: center;
                    color: rgb(254, 254, 254);
                    font-weight: bold;
                    line-height: 1.2;
                    @include res_max($screen-sm-max){
                        font-size: 18px;
                    }
                }

                p {
                    display: none;
                    font-size: 13px;
                    width: 75%;
                    text-align: center;
                    font-weight: 600;
                    color: #073d6a;
                }

                &:hover{
                    transform: scale(1.1);
                    
                    
                    h6 {
                        font-size: 17px;
                        font-family: "Oswald";
                        font-weight: bold;
                        line-height: 1.2;
                        z-index: 63;
                        color: #000;
                    }
                    p{
                        display: block;
                        font-size: 13px;
                        @include res_max($screen-sm-max){
                            font-size: 8px !important;
                        }
                    }
                    
                      
                }
            }
            .shape1 {
                bottom: 115px;
                left: 15px;
                @include res_max($screen-sm-max){
                    bottom: 0;
                }
                &:hover{
                    h6{
                        color: #e74c3c;
                    }
                }
                &::before{
                background-color: #e74c3c;
                }
            }

            .shape2 {
                bottom: 85px;
                left: 15px;
                @include res_max($screen-sm-max){
                    bottom: -5%;
                }
                &:hover{
                    h6{
                        color: #1abc9c;
                    }
                }

                &::before {
                background-color: #1abc9c;
                }
            }

            .shape3{
                bottom: 400px;
                left: 200px;
                @include res_max($screen-sm-max){
                    bottom: 200px;
                    left: 160px;
                }
                &:hover{
                    h6{
                        color: #8e44ad;
                    }
                }
                &::before {
                background-color: #8e44ad;
                }
            }

            .shape4 {
                top: 2px;
                left: -9px;
                @include res_max($screen-sm-max){
                    left:20px;
                }
                &:hover{
                    h6{
                        color: #e57e22;
                    }
                }
                &::before {
                background-color: #e57e22;
                }
            }

            .shape5 {
                bottom: 315px;
                left: 175px;
                @include res_max($screen-sm-max){
                    left:20px;
                }
                &:hover{
                    h6{
                        color: #8e44ad;
                    }
                }
                &::before {
                background-color: #8e44ad;
                }
            }

            .shape6 {
                bottom: 285px;
                left: 175px;
                @include res_max($screen-sm-max){
                    bottom: 370px;
                }
                &:hover{
                    h6{
                        color: #9b59b6;
                    }
                }
                &::before {
                background-color: #9b59b6;
                }
            }

            .shape1, .shape2, .shape3, .shape4, .shape5, .shape6 
             {
                &:hover {
                    &::before {
                        background-color: white;
                    }
                }
             }
             
             
            .choose-us-img {
                position: relative;
                top: -158px;
                left: 60px;
                overflow: hidden;
                height: 547px;
                @include res_max($screen-sm-max);@include res_max($screen-md-max){
                    height: 330px;
                    left: 0;
                    text-align: center;
                    top: -180px;
                }
                img{
                    width: 100%;
                    @include res_max($screen-sm-max);@include res_max($screen-lg-max){
                        width: 60%;
                    }
                }
            }
        }
        
    }

    .slider {
      
        .container {
          width: 80%;
        }
      
        video {
          width: 100%;
          height: auto;
        }
    }
}

.react-multiple-carousel__arrow {
    background-color:#073d6a !important;
    
}
.react-multiple-carousel__arrow--left {
    left: calc(15% + 1px) !important;
    @include res_min($screen-xxl-large-min){
        top: calc(35% + 1px);
    }
    @include res_max($screen-sm-max){
        min-width: 30px !important;
        min-height: 30px !important;
        &::before{
            font-size: 15px !important;
        }
    }
    
}
.react-multiple-carousel__arrow--right {
    right: calc(15% + 1px) !important;
    @include res_min($screen-xxl-large-min){
        top: calc(35% + 1px);
    }
    
    @include res_max($screen-sm-max){
        min-width: 30px !important;
        min-height: 30px !important;
        &::before{
            font-size: 15px !important;
        }
    }
}

// scroll animated 
.animate-from-right {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 1.5s;
  }
  
  .animate-from-left {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 1.5s;
  }
  
  .animate-from-bottom {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 1.5s;
  }
  .animate-from-top{
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s, transform 1.5s;
  }
  .animate-from-in{
    opacity: 0;
    transition: opacity 1s, transform 1.5s;
  }
  .animate {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  .section{
    overflow: hidden;
    position: relative;
  }
.react-multiple-carousel__arrow{
    @include res_min($screen-xxl-large-min){
        min-width: 75px !important;
    min-height: 75px !important;
    &::before{
        font-size: 35px;
    }
    }
    
}
